on fs
    write /proc/bootprof "start mobicore (on fs)"
    chmod 0600 /dev/mobicore
    chown system system /dev/mobicore
    chmod 0666 /dev/mobicore-user
    chown system system /dev/mobicore-user
    write /proc/bootprof "start mobicore end (on fs)"

# Start Daemon (Registry directories should already be present)
service ven_teei_daemon /vendor/bin/teei_daemon
        user system
        group system
        #setenv MC_AUTH_TOKEN_PATH /efs
        setenv PATH /vendor/bin:/system/bin:/system/vendor/bin
        setenv LD_LIBRARY_PATH /vendor/lib64:/system/lib64:/vendor/lib:/system/lib:/system/vendor/lib64:/system/vendor/lib
        disabled
        oneshot
        seclabel u:r:vold:s0


on boot
    chown system system /sys/bus/platform/devices/utos/dcih_notify_test
    chown system system /sys/bus/platform/devices/utos/dcih_wait_notify_test
    chown system system /sys/bus/platform/devices/utos/load_ut_drv
    chown system system /sys/bus/platform/devices/utos/unload_ut_drv
    chown system system /sys/bus/platform/devices/utos/notify_ree_dci_handler

#for FDE mode
#on property:vold.decrypt=trigger_restart_framework
on property:ro.crypto.state=encrypted
    write /proc/bootprof "start teei cfg (on trigger_restart_framework)"
    mkdir /data/thh
    mkdir /data/thh/system
    mkdir /data/thh/tee_00
    mkdir /data/thh/tee_01
    mkdir /data/thh/tee_02
    mkdir /data/thh/tee_03
    mkdir /data/thh/tee_04
    mkdir /data/thh/tee_05
    mkdir /data/thh/tee_06
    mkdir /data/thh/tee_07
    mkdir /data/thh/tee
    mkdir /data/thh/tee/tas
    mkdir /data/thh/tee_08
    mkdir /data/thh/tee_09
    mkdir /data/thh/tee_0A
    mkdir /data/thh/tee_0B
    mkdir /data/thh/tee_0C
    mkdir /data/thh/tee_0D
    mkdir /data/thh/tee_0E
    mkdir /data/thh/tee_0F
    mkdir /data/thh/ta
    chmod 0755 /data/thh
    chown system system /data/thh
    chmod 0755 /data/thh/tee_00
    chown system system /data/thh/tee_00
    chmod 0755 /data/thh/tee_01
    chown system system /data/thh/tee_01
    chmod 0755 /data/thh/tee_02
    chown system system /data/thh/tee_02
    chmod 0755 /data/thh/tee_03
    chown system system /data/thh/tee_03
    chmod 0755 /data/thh/tee_04
    chown system system /data/thh/tee_04
    chmod 0755 /data/thh/tee_05
    chown system system /data/thh/tee_05

    chmod 0755 /data/thh/tee_06
    chown system system /data/thh/tee_06
    chmod 0755 /data/thh/tee_07
    chown system system /data/thh/tee_07
    chmod 0755 /data/thh/tee
    chown system system /data/thh/tee
    chmod 0755 /data/thh/tee/tas
    chown system system /data/thh/tee/tas
    chmod 0755 /data/thh/tee_08
    chown system system /data/thh/tee_08
    chmod 0755 /data/thh/tee_09
    chown system system /data/thh/tee_09
    chmod 0755 /data/thh/tee_0A
    chown system system /data/thh/tee_0A
    chmod 0755 /data/thh/tee_0B
    chown system system /data/thh/tee_0B
    chmod 0755 /data/thh/tee_0C
    chown system system /data/thh/tee_0C
    chmod 0755 /data/thh/tee_0D
    chown system system /data/thh/tee_0D
    chmod 0755 /data/thh/tee_0E
    chown system system /data/thh/tee_0E
    chmod 0755 /data/thh/tee_0F
    chown system system /data/thh/tee_0F
    chmod 0755 /data/thh/ta
    chown system system /data/thh/ta
    chmod 0755 /data/thh/system
    chown system system /data/thh/system

    mkdir /persist/rpmb
    chmod 0771 /persist/rpmb
    chown system system /persist/rpmb

    mkdir /vendor/persist/rpmb
    chmod 0771 /vendor/persist/rpmb
    chown system system /vendor/persist/rpmb
    restorecon_recursive /vendor/persist

    restorecon_recursive /data/thh
    setprop soter.encrypt.state OK
    setprop soter.teei.vold.decrypt OK
    write /proc/bootprof "start teei cfg end (on trigger_restart_framework)"

on fs
    write /proc/bootprof "start teei_daemon (on fs)"
    chmod 0660 /dev/teei_client
    chown system system /dev/teei_client
    chmod 0660 /dev/teei_config
    chown system system /dev/teei_config
    chmod 0660 /dev/tee0
    chown system keystore /dev/tee0
    chmod 0660 /dev/tz_vfs
    chown system system /dev/tz_vfs
    chmod 0660 /dev/teei_fp
    chown system /dev/teei_fp
    chown system keystore /dev/ut_keymaster
    chmod 0660 /dev/ut_keymaster
    # rpmb device
    chmod 0660 /dev/rpmb0
    chown system system /dev/rpmb0
    # legacy rpmb device for cross-platform compatibility
    chmod 0660 /dev/emmcrpmb0
    chown system system /dev/emmcrpmb0
    chown system system /dev/utr_tui
    chmod 0660 /dev/utr_tui
    write /proc/bootprof "start teei_daemon end (on fs)"

