import /init.recovery.vold_decrypt.keymaster-3-0.rc
import /init.recovery.vold_decrypt.hwservicemanager.rc
import /init.recovery.vold_decrypt.teei_daemon.rc

service sys_vold /system/bin/vold \
        --blkid_context=u:r:blkid:s0 --blkid_untrusted_context=u:r:blkid_untrusted:s0 \
        --fsck_context=u:r:fsck:s0 --fsck_untrusted_context=u:r:fsck_untrusted:s0
    socket vold stream 0660 root mount
    socket cryptd stream 0660 root mount
    setenv PATH /system/bin:/system/vendor/bin
    setenv LD_LIBRARY_PATH /system/lib64:/system/lib:/system/vendor/lib64:/system/vendor/lib
    disabled
    oneshot
    seclabel u:r:recovery:s0
